<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>

    <div class="container">
        <div class="form-container">
            <aside class="right">
                <form class="form-content">
                    <h3>INFORMATIONS PERSONELLES</h3>
                    <div class="info">
                        <div class="pres">
                            <div class="field nom">
                                <label>Nom complet</label>
                                <input type="text" id="nom" placeholder="Malamine Sow">
                            </div>
                            <div class="field poste">
                                <label>Poste</label>
                                <input type="text" id="poste" placeholder="Développeur WEB">
                            </div>
                        </div>
                        <div class="field image">
                            <label>Photo</label>
                            <div class="photo-container">
                                <img id="preview-photo" src="" alt="">
                                <input type="file" id="photo" accept="image/*">
                                <span id="photo-placeholder"><i class="fa-solid fa-camera"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>Email</label>
                        <input type="email" id="email" placeholder="malamine@gmail.com">
                    </div>

                    <div class="field">
                        <label>Téléphone</label>
                        <input type="tel" id="telephone" placeholder="+221 77 858 58 58">
                    </div>

                    <div class="field">
                        <label>Adresse</label>
                        <input type="text" id="adresse" placeholder="Guediawaye, Dakar, Sénégal">
                    </div>

                    <div class="field">
                        <label>LinkedIn</label>
                        <input type="text" id="linkedin" placeholder="linkedin.com/in/malamine">
                    </div>

                    <div class="field">
                        <label>Site web</label>
                        <input type="text" id="site" placeholder="malamine.com">
                    </div>

                    <hr>
                    <h3>Profil</h3>

                    <div class="field">
                        <textarea id="profil" rows="4" placeholder="Décrivez votre profil..."></textarea>
                    </div>

                    <hr>
                    <h3>Centres d'intérêts</h3>

                    <div class="field">
                        <textarea id="interets" rows="3" placeholder="Vos centres d'intérêts..."></textarea>
                    </div>

                    <hr>
                    <h3>Expérience professionnelle</h3>

                    <div class="field">
                        <label>Poste occupé</label>
                        <input type="text" id="exp-poste" placeholder="Développeur Frontend">
                    </div>

                    <div class="field">
                        <label>Entreprise</label>
                        <input type="text" id="exp-entreprise" placeholder="Nom de l'entreprise">
                    </div>

                    <div class="field-row">
                        <div class="field">
                            <label>Début</label>
                            <input type="date" id="exp-debut" placeholder="Jan 2023">
                        </div>
                        <div class="field">
                            <label>Fin</label>
                            <input type="date" id="exp-fin" placeholder="Présent">
                        </div>
                    </div>

                    <div class="field">
                        <label>Description</label>
                        <textarea id="desc" rows="4" placeholder="Décrivez vos missions..."></textarea>
                    </div>
                    <button id="btn-add-exp">+ Ajouter</button>
                    <hr>
                    <h3>Parcours académique</h3>

                    <div class="field">
                        <label>Diplôme</label>
                        <input type="text" id="diplome" placeholder="Bachelor Informatique">
                    </div>

                    <div class="field">
                        <label>École</label>
                        <input type="text" id="ecole" placeholder="IAM Dakar">
                    </div>

                    <div class="field-row">
                        <div class="field">
                            <label>Dates</label>
                            <input type="text" id="dates" placeholder="2024-2026">
                        </div>
                        <div class="field">
                            <label>Mention</label>
                            <input type="text" id="mention" placeholder="En cours">
                        </div>
                    </div>

                    <hr>
                    <h3>Compétences</h3>

                    <div class="field">
                        <input type="text" id="competence" placeholder="Ex: JavaScript">
                        <button id="btn-add-competence">+ Ajouter</button>
                    </div>
                    <div id="liste-competences"></div>

                    <hr>
                    <h3>Langues</h3>

                    <div class="field">
                        <input type="text" id="langue" placeholder="Ex: Français">
                    </div>
                    <div class="field">
                        <label>Niveau (1 à 5)</label>
                        <select name="" id="">
                            <option value="" default>--Selectionner le niveau de langue--</option>
                            <option value="">Niveau1</option>
                            <option value="">Niveau2</option>
                            <option value="">Niveau3</option>
                            <option value="">Niveau4</option>
                            <option value="">Niveau5</option>
                        </select>
                        <button id="btn-add-langue">+ Ajouter</button>
                    </div>
                    <div id="liste-langues"></div>
                    <button class="btn-submit">Générer mon CV</button>
                </form>
            </aside>
        </div>
        <div class="template-container"></div>
    </div>

</body>

</html>