<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/style/temp-style.css">
    <link rel="stylesheet" href="../assets/style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <div class="gauche3" id="gauche"></div>
    <div class="droite4">
        <div class="container">
            <div class="left">
                <div class="profil">
                    <div class="nom">
                        <h1 id="fullName"></h1>
                        <h2 id="job"></h2>
                    </div>
                    <div class="img-container" id="img-container"></div>
                </div>
                <div class="info">
                    <span id="mail"></span>
                    <span id="tel"></span>
                    <span id="loc"></span>
                    <span id="linke"></span>
                    <span id="site"></span>
                </div>
                <h3 id="H3A"></h3>
                <p id="PA"></p>
                <h3 id="H3B"></h3>
                <p id="PB"></p>
                <h3 id="H3C"></h3>
                <div class="rate" id="liste-langues"></div>
            </div>
            <div class="right">
                <h3 id="H3D"></h3>
                <div id="liste-experiences"></div>
                <h3 id="H3E"></h3>
                <div id="liste-formations"></div>
                <h3 id="H3F"></h3>
                <div class="ul-li">
                    <ul type="none" id="liste-competences"></ul>
                </div>
            </div>
        </div>
    </div>
    <script src="../assets/script/script.js"></script>
</body>
</html>